.header{width: 100%;}
.logo img{width: 100%;}
.navs{margin: 0 auto;padding: 15px;}
.navs div a{text-align: center;display: inline-block;width: 100%;}
.navs div a:hover{color: #999;}
.navs div+div{border-left: 1px solid #ddd;}
.foot{width: 1200px;margin: 0 auto;}
.footer{background: #404040;color: #fff;padding-bottom: 20px;}
.footer .title{
	font-size: 18px;
	font-weight: bold;
	padding: 10px 0 15px;
}
.footer .foot p:hover{color: #C0C0C0;cursor: pointer;}
.footer .foot p a{color: #fff;}
.footer .foot p a:hover{color: #C0C0C0;cursor: pointer;}
@media screen and (max-width:767px) {
	.foot{width: 100%;margin: 0 auto;}
}