.header {
	background-color: #3c3b39;
	height: 76px;
	padding: 0 140px;
}

.header img {
	width: 75px;
	height: auto;
}

.nav {
	color: #eee;
}

.nav div {
	margin-left: 50px;
	cursor: pointer;
}

.nav div.active {
	font-weight: bold;
	color: #fff;
}

/* 668px<设备高度<1024px  pad端*/
@media only screen and (min-width: 668px) and (max-width: 1024px) {
	.header{
		padding: 0 70px;
	}
	.header .wrap{
		width: 612px;
	}
}

/********  Device height <668 mobile terminal *********/
@media only screen and (max-width: 668px) {
	.header{
		height: auto;
	}
	.header .wrap{
		width: 94px;
		display: block;
	}
	.header img{
		margin: 0 auto;
		display: block;
	}
	.nav{
		display: block;
		padding: 10px 0;
	}
	.nav div{
		margin: 0;
		padding: 10px 0;
		text-align: center;
	}
}
